OsbEndPoint-QF3/soapwsxquerytransformation/src/main/resources/VidaLetterManagerWSSchema.xsd

<xsd:schema xmlns:ns0="http://services.vida.psi.com/LetterManagement/1.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://services.vida.psi.com/LetterManagement/1.0">
    <xsd:complexType name="insertLetterPDFLinksResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:confirmation" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="confirmation">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
            <xsd:element name="serviceReply" type="ns0:serviceReplyEnum" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="insertLetterPDFLinks">
        <xsd:sequence>
            <xsd:element name="fileName" type="xsd:string" minOccurs="0"/>
            <xsd:element name="filePath" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="insertLetterPDFLinksResponse" type="ns0:insertLetterPDFLinksResponse"/>
    <xsd:element name="insertLetterPDFLinks" type="ns0:insertLetterPDFLinks"/>
    <xsd:simpleType name="serviceReplyEnum">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SUCCESS"/>
            <xsd:enumeration value="FAILURE"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>